<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="container" style="height: 400px; min-width: 310px"></div>
    <script>

        var socket = io.connect('http://localhost:3001');

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        jQuery.get('https://paymium.com/api/v1/data/eur/trades', function (trades) {

            var series = [{
                name: 'Transactions',
                yAxis: 0,
                data: []
            }, {
                name: 'Twitter',
                yAxis: 1,
                data: [[(new Date()).getTime(), 0], [(new Date()).getTime(), 1]]
            }];

            jQuery.each(trades, function (i, trade) {
                series[0].data.push([Number(trade.created_at_int) * 1000, trade.price]);
            });

            // Create the chart
            Highcharts.stockChart('container', {
                yAxis: [{
                    title: {
                        text: 'Montant'
                    }
                }, {
                    title: {
                        text: 'Humeur'
                    },
                    opposite: true
                }],
                chart: {
                    events: {
                        load: function () {
                            var self = this;
                            socket.on('paymium', function (data) {
                                console.log(data);
                                self.series[0].addPoint(data, true, true);
                            });
                            socket.on('twitter', function (data) {
                                console.log(data);
                                self.series[1].addPoint(data, true, true);
                            });
                        }
                    }
                },

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 0
                },

                title: {
                    text: 'Live random data'
                },

                exporting: {
                    enabled: false
                },

                series: series
            });
        });

    </script>
</body>

</html>